[Desktop Entry]
Categories=System Utilities;
Comment[en_US]=Keyboard Colors
Comment=Keyboard Colors
Exec=kdesu -u root /home/jack/Workbench/MSIKLM_GUI/MSIKLM_GUI
/MSIKLM_GUI
Name[en_US]=msiklm_own_gui
Name=msiklm_own_gui
Icon=/home/jack/Workbench/MSIKLM_GUI/Apps-nepomuk-icon.png
Path=/home/jack/Workbench/MSIKLM_GUI
StartupNotify=true
Terminal=false
Type=Application
